.button {
    background-color: var(--color-light-gray);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
}

.hover-orange:hover {
    background-color: var(--color-reddish-orange);
    color: white;
}

.hover-gray:hover {
    background-color: var(--color-gray);
}
.create-post-active {
    background-color: var(--color-reddish-orange); /* Keeps the reddish-orange when selected */
    color: white;
}
.home-active {
    background-color: var(--color-reddish-orange); /* Keeps the reddish-orange when selected */
    color: white;
}
.create-community-active {
    background-color: var(--color-reddish-orange); /* Keeps the reddish-orange when selected */
    color: white;
}
.community-active {
    background-color: var(--color-gray);
    color: white;
}